* {
  margin: 0;
  padding: 0;
}



body {
  margin: 0 auto;
  padding: 0;
  background: $bg-body;
  font-family: $font;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}